*{
	margin: 0px;
	padding: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, [type="submit"], [type="reset"] {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

[type="submit"], [type="reset"] {
    background-color: #333
}

[type="radio"] {
    display: inline-block;
    padding: 14px 16px;
}

[id="message"] {
    display: block;
}

li a:hover:not(.active), .active {
    background-color: #111;
}

fieldset, div {
    display: inline-block;
}

[name="lastname"], [for="lastname"] {
    display: inline-block;
}

