

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, [type="submit"], [type="reset"] {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333
}

[type="radio"] {
    display: inline-block;
    padding: 14px 16px;
}

[id="message"] {
    display: block;
}

li a:hover:not(.active), .active {
    background-color: #111;
}

section>h2 {
    font-size: 1.5em;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

h3 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.info {
    font-size: 1em;
    padding: 2%;
}

[alt="jakob"] {
    width: 25%;
    -webkit-filter: grayscale(80%);
}

[alt="adrian"] {
    width: 25%;
    -webkit-filter: grayscale(80%);
}

[alt="aaron"] {
    width: 25%;
    -webkit-filter: grayscale(80%);
}

p {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
}

.blogpost {
    padding: 2%;
    margin: 2%;
    border: 2px solid black;
}

.comments {
    padding-right: 2%;
    padding-left: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 0.8em;

header img{
	width:10%;
    height: auto;
	vertical-align: middle;
}

header h1{
	display: inline;
	font-size: 4vw;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	text-shadow: #808080 5px 5px 5px;
	margin-left: 3%;
	margin-right: 4%;

}
  
fieldset, div {
    display: block;
    border: 0;
}

[id="rating] {

}

div {
    display: inline-block;
}
